@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    font-family: 'Kaushan Script', cursive;

    font-family: 'Merriweather Sans', sans-serif;
}

.m-top {
    margin-top: 4vh;
}
.rojo {
    background-color: red;
}
.azul {
    background-color: blue;
}
.amarillo {
    background-color: yellow;
}


.carta {
    height: 30vh;
}

.imagenCarta {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.contImgCarta {
    height: 80%;
    align-content: center;
}

.textoCarta {
    height: 100%;
    width: 100%;
}

.ul-none {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 468px) {
    .ul-none {
        display: none;
    }
    .carta{
        margin-top: 10px;
    }
}